* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Space Grotesk", sans-serif;
      }


/* BLink cursor */

.cursorAnimation {
  display: inline-block;
  animation: blinkCursor 0.8s step-end infinite;
}

@keyframes blinkCursor {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* hidden image in mobile  */

